<main class="main">
  <div class="content">
    <app-multi-select-picker>
      <ng-content card-title>Multi Select Picker</ng-content>
      <ng-content card-subtitle>Selected Items Count: {{targetItems.length}}</ng-content>
      <ng-content source-items>
        <mat-card class="source_items">
          <mat-card-content>
            <mat-list role="list">
              @for (data of sourceItems; track $index) {
              <mat-list-item role="listitem" class="selectable_item" [ngClass]="{selected_item: data.selected}"
                (click)="itemSelected(data)">
                {{data.value}}
              </mat-list-item>
              }
            </mat-list>
          </mat-card-content>
        </mat-card>
      </ng-content>
      <ng-content action-items>
        <mat-card class="action_items">
          <mat-card-content class="action_buttons_container">
            <button mat-icon-button class="action_buttons" (click)="moveAll('right')">
              <mat-icon aria-hidden="false" aria-label="Move Right" fontIcon="keyboard_double_arrow_right"></mat-icon>
            </button>
            <button mat-icon-button class="action_buttons" (click)="moveSelected('right')">
              <mat-icon aria-hidden="false" aria-label="Move Right" fontIcon="chevron_right"></mat-icon>
            </button>
            <button mat-icon-button class="action_buttons" (click)="moveSelected('left')">
              <mat-icon aria-hidden="false" aria-label="Move Left" fontIcon="chevron_left"></mat-icon>
            </button>
            <button mat-icon-button class="action_buttons" (click)="moveAll('left')">
              <mat-icon aria-hidden="false" aria-label="Move Left" fontIcon="keyboard_double_arrow_left"></mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </ng-content>
      <ng-content target-items>
        <mat-card class="target_items">
          <mat-card-content>
            <mat-list role="list">
              @for (data of targetItems; track $index) {
              <mat-list-item role="listitem" class="selectable_item" [ngClass]="{selected_item: data.selected}"
                (click)="itemSelected(data)">
                {{data.value}}
              </mat-list-item>
              }
            </mat-list>
          </mat-card-content>
        </mat-card>
      </ng-content>
    </app-multi-select-picker>
  </div>
</main>